* {
    padding: 0%;
    margin: 0%;
}

.container {
    width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.header {
    background-color: chartreuse;
    height: 100vh;
    display: flex;
    align-items: center;
}

form {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 600px; */
    /* height: 500px; */
    padding: 100px;
}

input {
    margin: 10px;
    padding: 10px;
    width: 500px;
}

.true {
    color: lawngreen;
    background-color: black;
    font-size: 20px;
    font-weight: 600;
}

.false {
    color: rgb(252, 71, 0);
    background-color: black;
    font-size: 20px;
    font-weight: 600;
}

.lll {
    width: 500px;
    text-align: center;
    padding: 10px;
}